@import "tailwindcss";
@plugin "daisyui" {
  themes: "light", "dark", "night", "aqua", "corporate";
}

#root {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  user-select: none;
}

html,
body {
  @apply scroll-smooth;
  overflow-x: hidden;
}

@layer utilities {
  .animate-loading-bar {
    animation: loading 2s ease infinite;
  }

  .animate-wave {
    animation: wave 1.5s infinite ease-in-out;
  }

  .animate-blink {
    animation: blink 0.8s step-end infinite;
  }

  .section-container {
    max-width: 900px;
    @apply mx-auto pt-15 md:pt-20 px-2 pb-10;
  }

  .section-title {
    @apply text-3xl text-center text-base-content font-extrabold mb-3 w-fit mx-auto p-2 rounded-xl bg-base-content/10;
  }

  .section-description {
    @apply text-base-content/70 text-sm text-center max-w-md mx-auto;
  }

  .grid-responsive {
    display: grid;
    grid-template-columns: 60% 40%;
  }

  @media (max-width: 1000px) {
    .grid-responsive {
      grid-template-columns: repeat(1, minmax(0, 1fr));
    }
  }
}

@keyframes loading {
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(350%);
  }
}

@keyframes blink {
  0%,
  100% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }
}

@keyframes wave {
  0% {
    transform: rotate(0deg);
  }

  15% {
    transform: rotate(14deg);
  }

  30% {
    transform: rotate(-8deg);
  }

  45% {
    transform: rotate(14deg);
  }

  60% {
    transform: rotate(-4deg);
  }

  75% {
    transform: rotate(10deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

.swiper-button-next,
.swiper-button-prev {
  font-weight: 900;
}

.scrollbox::-webkit-scrollbar {
  width: 8px;
}
.scrollbox::-webkit-scrollbar-track {
  background: #1e1e2f;
}
.scrollbox::-webkit-scrollbar-thumb {
  background-color: #00bcd4;
  border-radius: 6px;
}
